{% extends "base.html" %}
{% block content %}

<h1>Add Expense</h1>

<div class="card">
    <form id="txForm">
        <input type="date" id="date" required>
        <input type="text" id="description" placeholder="Description" required>
        <input type="text" id="merchant" placeholder="Merchant">
        <input type="number" id="amount" placeholder="Amount" required>
        <select id="categoryDropdown"></select>
        <button class="btn" type="submit">+ Add Expense</button>
    </form>
</div>

<h2>Recent Transactions</h2>
<div id="txList"></div>

{% endblock %}
